{% extends "circuits/layout.html" %}

{% block body %}

<div class="container mt-1 mb-4">
    <div class="row">
        <div class="col-md-3">
            <h3>Calculate</h3>
            <div class="btn-group-vertical w-75">
                <input type="button" class="btn btn-primary mb-2 calc_btn" value="Power Triangle" data-function="power_triangle">
                <input type="button" class="btn btn-primary mb-2 calc_btn" value="Phasor" data-function="phasor">
                <input type="button" class="btn btn-secondary mb-2 calc_btn" value="Under Development" data-function="" disabled>
            </div>
        </div>
        
        
        <div class="col-md-9">
            
            {% if error %}
                <div class="alert alert-danger">
                    <small>{{ error }}</small>
                </div>
            {% endif %}
            
            <div id="alert-container"></div>
            <!-- Message alert -->
            
            <div class="power_triangle border p-3" hidden>
                <h4>Power Triangle</h4>
                <small>Note: You can provide 2 inputs. (P-Q or S-pf)</small>
                <form action="{% url 'power_triangle' %}" method="post" class="mt-3 calculate_form">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="number" class="form-control" name="power_triangle_P" placeholder="P">
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" name="power_triangle_Q" placeholder="Q">
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" name="power_triangle_S" placeholder="S">
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" name="power_triangle_pf" placeholder="Power factor (e.g., 0.8)" step="0.01">
                    </div>
                    <button type="submit" class="btn btn-success">Calculate</button>
                </form>
            </div>

            <div class="phasor border p-3" hidden>
                <h4>Phasor Diagram</h4>
                <form action="{% url 'phasor_diagram' %}" method="post" class="mt-3 calculate_form">
                    {% csrf_token %}
                    <div>
                        <h4>V1</h4>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="V1_magnitude" placeholder="Magnitude 1">
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="V1_angle" placeholder="Angle 1">
                        </div>
                    </div>
                    <div>
                        <h4>V2</h4>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="V2_magnitude" placeholder="Magnitude 2">
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="V2_angle" placeholder="Angle 2">
                        </div>
                    </div>
                    <div>
                        <h4>V3</h4>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="V3_magnitude" placeholder="Magnitude 3">
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" name="V3_angle" placeholder="Angle 3">
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-success">Calculate</button>
                </form>
            </div>
            

            <div id="output" class="mt-4">
                {% if display %}
                    <div class="power_triangle_output border p-3">

                        {% if power_triangle %}
                            <div class="px-4">
                                <div hidden data-diagram-img="{{ plot_image }}"></div>
                                <div hidden id="show-output-data" data-show-output="{{ show_output }}"></div>
                                <div hidden id="output-input-datas" data-show-values="{{ values }}"></div>
                                <img src="data:image/png;base64,{{ plot_image }}" alt="Power Triangle Plot" class="img-fluid">
                            </div>
                        {% endif %}

                        {% if phasor_diagram %} 
                            <div class="px-4">
                                <div hidden data-diagram-img="{{ plot_image }}"></div>
                                <div hidden id="show-output-data" data-show-output="{{ show_output }}"></div>
                                <div hidden id="output-input-datas" data-show-values="{{ values }}"></div>
                                <img src="data:image/png;base64,{{ plot_image }}" alt="Phsor Diagram Plot" class="img-fluid">
                            </div>
                        {% endif %}
                        

                        <form class="mt-3 save_calculation_form">
                            <button id="save_calculation_button" class="btn btn-success">Save</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
