{% extends "circuits/layout.html" %}

{% block body %}
   
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Home</h3>
                <div class="btn-group-vertical w-75">
                    <input type="button" class="btn btn-primary mb-2 home_view_profile_btn" value="Profile" data-function="user_profile">
                    <input type="button" class="btn btn-primary mb-2 home_view_calc_btn" value="Previous Calculations" data-function="user_profile">
                    <input type="button" class="btn btn-secondary mb-2 home_view_calc_btn" value="Under Development" data-function="" disabled>
                </div>
            </div>

            <div class="col-md-9">
                <div class="container mt-4">
                    {% if previous %}
                        <h3 class="mb-3">Previous Calculations</h3>
                        <ul class="list-group mb-4">
                            {% for data in refined_data %}
                                {% if data.name == "power_triangle" %}
                                    <li class="list-group-item">
                                        <div class="prev_calc_class" name="data_power_triangle" data_calculation_img="{{ data.data_calculation_img }}">
                                            <strong>{{ data.name|title }}</strong>
                                            <br>
                                            <span class="m-3">Power Triangle P: 
                                                <strong>{{ data.power_triangle_P }}</strong>
                                            </span>
                                            <span class="m-3">Power Triangle Q: 
                                                <strong>{{ data.power_triangle_Q }}</strong>
                                            </span>
                                            <span class="m-3">Power Triangle S: 
                                                <strong>{{ data.power_triangle_S }}</strong>
                                            </span>
                                            <span class="m-3">Power Triangle PF: 
                                                <strong>{{ data.power_triangle_pf }}</strong>
                                            </span>
                                            <br>
                                            <small class="m-3">Created On: {{ data.created_at }}</small>
                                        </div>
                                        <button class="btn btn-danger btn-sm mt-2 ml-3 deleteButtonPrevPost" data-post-id-delete="{{ data.id }}">
                                            Delete
                                        </button>
                                    </li>
                                {% endif %}
                                {% if data.name == "phasor" %}
                                    <li class="list-group-item">
                                        <div class="prev_calc_class" name="data_phasor" data_calculation_img="{{ data.data_calculation_img }}">
                                            <strong>{{ data.name|title }}</strong>
                                            <br>
                                            <span class="m-3">V1 Magnitude: 
                                                <strong>{{ data.V1_magnitude }}</strong>
                                            </span>
                                            <span class="m-3">V1 Angle: 
                                                <strong>{{ data.V1_angle }}</strong>
                                            </span>
                                            <span class="m-3">V2 Magnitude: 
                                                <strong>{{ data.V2_magnitude }}</strong>
                                            </span>
                                            <span class="m-3">V2 Angle: 
                                                <strong>{{ data.V2_angle }}</strong>
                                            </span>
                                            <span class="m-3">V3 Magnitude: 
                                                <strong>{{ data.V3_magnitude }}</strong>
                                            </span>
                                            <span class="m-3">V3 Angle: 
                                                <strong>{{ data.V3_angle }}</strong>
                                            </span>
                                            <br>
                                            <small class="m-3">Created On: {{ data.created_at }}</small>
                                        </div>
                                        <div>
                                            <button class="btn btn-danger btn-sm mt-2 ml-3 deleteButtonPrevPost" data-post-id-delete="{{ data.id }}">
                                                Delete
                                            </button>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div id="calculation-result" class="p-3 my-3 hidden"></div>

            </div>

        </div>    
    </div>

{% endblock %}
